# MariaDB Instance 1
MARIA1_HOST=xc-trading.covl02ovmomq.eu-central-1.rds.amazonaws.com
MARIA1_PORT=3306
MARIA1_DB=xchange_trading
MARIA1_USER=trading-service
MARIA1_PASS=VXCAhEcgBx4AVybryVS61wws1lBPX7eT

# MariaDB Instance 2
MARIA2_HOST=xc-finance.covl02ovmomq.eu-central-1.rds.amazonaws.com
MARIA2_PORT=3306
MARIA2_DB=xchange_finance
MARIA2_USER=finance-service
MARIA2_PASS=ZO26MAA3ak0TmL7MYw2b5PeBELEpJRiM

# MariaDB Instance 3
MARIA3_HOST=172.31.23.19
MARIA3_PORT=3306
MARIA3_DB=xchange_live
MARIA3_USER=root
MARIA3_PASS=ye88N62bf

# PostgreSQL Target
PG_HOST=localhost
PG_PORT=5432
PG_DB=cdc_pipeline
PG_USER=postgres
PG_PASS=postgres
